<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body>
  <div th:replace="layout/header :: header">&nbsp;</div>
  <div class="container">

    <div class="row justify-content-md-center ">
      <div class="col-md-12 text-center">
        <h1 th:text="${'Tambah Pegawai'}"></h1>
      </div>
      <div class="col-lg-8 col-md-10 col-xs-12 card">
        <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
          <div class="form-group">
            <label for="inputNama">Nama</label>
            <input type="text" class="form-control" id="inputNama" placeholder="Masukkan nama Anda" th:field="*{nama}"
              name="nama">
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="inputTempatLahir">Tempat Lahir</label>
              <input type="text" class="form-control" id="inputTempatLahir" placeholder="Kota kelahiran" th:field="*{tempatLahir}"
                name="tempatLahir">
            </div>

            <div class="form-group col-md-5">
              <label for="inputTanggalLahir">Tanggal Lahir</label>
              <input type="date" class="form-control" id="inputTanggalLahir" placeholder="Tanggal Lahir" th:field="*{tanggalLahir}"
                name="tanggalLahir">
            </div>
            <div class="form-group col-md-2">
              <label for="inputTahunMasuk">Tahun Masuk</label>
              <input type="number" class="form-control" id="inputTahunMasuk" placeholder="Tahun Masuk" th:field="*{tahunMasuk}"
                name="tahunMasuk">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="provinsi">Provinsi</label>
              <select  id="provinsi" name="provinsi" class="form-control">
                <option selected disabled>Pilih...</option>
                <option th:each="provinsi : ${provinsis}" 
					          th:value="${provinsi.getId()}" 
					          th:text="${provinsi.getNama()}">...</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="instansi">Nama Instansi</label>
              <select class="form-control" id="instansi" name="instansi">
                <option selected disabled>Pilih...</option>
                <option >...</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="jabatan">Jabatan</label>
              <select id="jabatan" class="form-control" name="jabatan">
                <option selected disabled>Pilih...</option>
                <option th:each="jabatan : ${jabatans}" 
					          th:value="${jabatan.getId()}" 
					          th:text="${jabatan.getNama()}">...</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </form>

      </div>
    </div>

  </div>
</body>

<head th:replace="layout/footer :: footer"></head>
 <script type="text/javascript">
	$(document).ready(function(){
		console.log("hey")
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			console.log(valueProv)
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					console.log(data);
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
						console.log(data[i]);
						console.log(data[i].nama)
					}
					console.log(getIns);
					$('#instansi').append(getIns);
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
</script>
</html>