<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body>
  <div th:replace="layout/header :: header">&nbsp;</div>
  <div class="container">

    <div class="row justify-content-md-center ">
      <div class="col-md-12 text-center">
        <h1 th:text="${'Tambah Pegawai'}"></h1>
      </div>
      <div class="col-lg-8 col-md-10 col-xs-12 card">
        <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
          <div class="form-group">
            <label for="inputNama">Nama</label>
            <input type="text" class="form-control" id="inputNama" placeholder="Masukkan nama Anda" th:field="*{nama}"
              name="nama">
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="inputTempatLahir">Tempat Lahir</label>
              <input type="text" class="form-control" id="inputTempatLahir" placeholder="Kota kelahiran" th:field="*{tempatLahir}"
                name="tempatLahir">
            </div>

            <div class="form-group col-md-5">
              <label for="inputTanggalLahir">Tanggal Lahir</label>
              <input type="date" class="form-control" id="inputTanggalLahir" placeholder="Tanggal Lahir" th:field="*{tanggalLahir}"
                name="tanggalLahir">
            </div>
            <div class="form-group col-md-2">
              <label for="inputTahunMasuk">Tahun Masuk</label>
              <input type="number" class="form-control" id="inputTahunMasuk" placeholder="Tahun Masuk" th:field="*{tahunMasuk}"
                name="tahunMasuk">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputState">Provinsi</label>
              <select id="inputState" class="form-control">
                <option selected>Pilih...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Nama Instansi</label>
              <select id="inputState" class="form-control" name="instansi">
                <option selected>Pilih...</option>
                <option>...</option>
              </select>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Jabatan</label>
              <select id="inputState" class="form-control" name="jabatan">
                <option selected>Pilih...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

      </div>
    </div>

  </div>
</body>

<head th:replace="layout/footer :: footer"></head>

</html>