<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body>
	<div th:replace="layout/header :: header">&nbsp;</div>
	<div class="container">

		<div class="row text-center justify-content-md-center ">
			<div class="col-md-12">
				<h1 th:text="${' Lihat Data Pegawai - '+ pegawai.nip}"></h1>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12 card">
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>NIP</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<p th:text="${pegawai.nip}"></p>
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>Nama</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<p th:text="${pegawai.nama}"></p>
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>Tempat Lahir</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<p th:text="${pegawai.tempatLahir}"></p>
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>Tanggal Lahir</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<p th:text="${pegawai.tanggalLahir}"></p>
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>Tahun Masuk</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<p th:text="${pegawai.tahunMasuk}"></p>
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>Jabatan</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<ul th:each="jabatan : ${pegawai.listJabatan}">
					<li th:text="${jabatan.nama}"></li>
				</ul>
			</div>
		</div>

		<div class="row justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<p>Gaji</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<p th:text="${pegawai.gaji}"></p>
			</div>
		</div>
		<div class="row text-center justify-content-md-center ">
			<div class="col-lg-4 col-md-6">
				<a th:href="@{/pegawai/ubah?nip=} + ${pegawai.nip}" class="btn btn-primary">Ubah</a>
			</div>
		</div>



	</div>
</body>
</body>

<head th:replace="layout/footer :: footer"></head>

</html>