<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>

<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div class="fixed-bottom" th:fragment="footer" th:align="center">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2018</span>
        <span>Tugas APAP Asik</span>
        <script th:src="@{/js/datatables.min.js}"></script>
        <script th:src="@{/js/script.js}"></script>
    </div>
    <div th:fragment="footer-admin" th:align="center">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        <span>My Awesome App </span><span th:text="${@environment.getProperty('app.version')}"></span>
    </div>
</body>

</html>