<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #1b3a6b;" th:fragment="header">
    <a class="navbar-brand" href="#">KEPEGAWAIAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pegawai
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/pegawai/tambah}">Tambah</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/pegawai/cari}">Daftar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Jabatan
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Tambah</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Daftar</a>
          </div>
        </li>
      </ul>
      <span class="navbar-text">
        APAP - SI - CSUI
      </span>
    </div>
  </nav>
</body>

</html>